body {
    background-image: url(images/fruit-salad.webp);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}